@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Hind:wght@500&family=Jost:wght@400;700&family=Nokora:wght@700&family=Quicksand:wght@300;600&family=Roboto:wght@300;500&family=Shantell+Sans:wght@500&family=Ubuntu:wght@400;500;700&display=swap');

nav{
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-link .nav-icon:hover{
    color: #C96D00 !important;
}

.sosmed{
    display: flex;
    gap: 15px;
}

.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-link{
    font-family: 'Fredoka';
    font-size: 16px;
    line-height: normal;
    color: black;
}

.nav-item .nav-link{
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item a {
    text-decoration: none; /* Menghilangkan garis bawah default */
    border-bottom: 4px solid transparent; /* Garis bawah transparan */
    transition: border-bottom 0.3s; /* Animasi perubahan garis bawah */
}

.nav-item a:hover,
.nav-item a:focus {
    border-bottom: 4px solid #E4B700; /* Garis bawah setebal 4px ketika hover atau focus */
}

@media (max-width: 992px) {
    .navbar-nav, .sosmed {
        margin-top: 70px;
    }
}
  
  